.number-pad {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch; 

    width: 35%;
    margin: 0;

    @include media-breakpoint-down(md) {
        width: 90%;
        margin: 0 auto;
    }

    button {
        margin: 0.2rem;
    }
}