.number-pad {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch; 

    width: 22%;
    margin: 0;

    @include media-breakpoint-down(md) {
        width: 90%;
        margin: 0 auto;
    }

    button {
        margin: $pad_button_margin;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100%;
    }
}