.operator-pad {
    
    display: flex; 
    flex-direction: column;

    // width: 7%;
    
    @include media-breakpoint-down(md) {
        flex-direction: row;
        // max-width: 90%;
        //margin: 0 auto;
        justify-content: space-around;
    }

    
}