$ocean_blue:#5799B6;
$dark_transparent_ocean_blue: darken(rgba($ocean_blue, 0.4), 60%);

$primary: #557AA0;
$dark_transparent_primary: darken(rgba($primary, 0.4), 60%);

$secondary: desaturate(lighten(rgba(78, 86, 158, 0.85), 7%), 40%);

$container_background_color: lighten(desaturate($secondary,25%),25%);
$navbar_color: saturate(lighten(rgba($container_background_color, 0.3), 5%), 6%); // lighten(rgba($primary, 0.3), 30%);

$hyperlink_color: saturate(darken($primary, 10%), 80%);
$hyperlink_hover_color: desaturate(lighten($hyperlink_color, 17%), 14%);

$text_color_light: desaturate(darken(rgba($primary, 0.85), 2%), 40%);
$text_color_dark: darken($text_color_light, 25%);

$text_color: $text_color_dark;
$header_text_color: $text_color_dark;

// end colors

// layout

$content_padding_bottom: 2rem;
$content_padding_top: 2rem;

$content_padding_total: $content_padding_bottom + $content_padding_top;

$navbar_height: 8vh;
$header_height: 16vh + $navbar_height;
$footer_height: 20vh;
$gallery_card_height: (100vh - $header_height - $footer_height - 6vh) / 1.5;

$mobile_header_height: $header_height;
$mobile_footer_height: 40vh;
$mobile_gallery_card_height: 40vh;

$pad_button_margin: 0.2rem;

// typography

$operator_font_size: 1.5rem;
$numeral_font_size: 1.5rem;
$result_screen_font_size: 3.5rem;



