// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display&display=swap');

@import "variables";
@import "custom";

@import '~bootstrap/scss/bootstrap';

/*
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
*/

@import "typography";
@import "navbar";
@import "gallery_card";
@import "gallery";
@import "composers_list";
@import "composers_list_entry";
@import "content_banner";


body {

    @include transition(background-color 0.3s ease-in-out);

    background: linear-gradient(to bottom, rgba($primary, 0.8), darken(saturate(rgba($primary, 0.35), 10%),7%)), 
                url('../images/papyrus.png');
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;

    position: relative;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: scroll;

    pointer-events: none;

    // responsive layout heights via flexbox
    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

.wrapper {
    position: relative; // enables z-index
    z-index: 1;
    
    flex-grow: 1;

    padding-top: $content_padding_top;
    padding-bottom: $content_padding_bottom;
    box-shadow: 0 0 2rem rgba(darken($dark_transparent_primary, 30%), 0.23);
    // min-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$content_padding_total});

    @include media-breakpoint-down(md) {
        // min-height: calc(100vh - #{$mobile_header_height} - #{$mobile_footer_height} - #{$content_padding_total});
    }
}

.container.content {

    overflow-y: hidden;

    @include transition(height .3s ease);
    
    pointer-events: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: lighten(rgba($secondary, 0.4),19%);
    box-shadow: 0 0 2rem darken(rgba($dark_transparent_primary, 0.7), 60%);

    border-radius: 10px;

    @include media-breakpoint-down(md) {
        max-width: 95%;
    }
}

header {

    .header-wrapper {
        
        @include media-breakpoint-up(lg) {
            padding-top: 2rem;
        }
        
        width: 95%;
        max-height: 90%;
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
    }

    .header-wrapper.container {
        @include media-breakpoint-down(md) {
            width: 95%; 
            margin: 0;
        }
    }

    .header-wrapper .logo {
        max-width: 25%;
        align-self: stretch;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        img {
            position: absolute;
            display: block;
            top: 1rem;
            right: 8vw;
            width: 25vw;

            @include media-breakpoint-up(lg) {
                top: 1rem;
                width: 15vw;
                right: 6vw;
            }

            @include media-breakpoint-only(sm) {            
                top: 1rem;
                right: 6vw;
                width: 20vw;
            }

            @include media-breakpoint-down(xs) {
                top: 3rem;
                right: 4vw;
                width: 38vw;
            }

            
        }
    }

    background: // url('../images/ccp_logo_transparent.png'),
                linear-gradient(to bottom, darken(saturate(rgba($primary, 0.6), 20%),14%), 
                                           darken(saturate(rgba($primary, 0.35), 10%),7%)),
                url('../images/symphony.png');
    background-repeat: no-repeat, repeat;
    
    background-attachment: scroll, fixed;

    background-size: auto, auto;
    background-position-x: unset, unset;
    background-position-y: top, center;

    pointer-events: auto;
    
    min-height: $header_height;

    @include media-breakpoint-down(md) {
        min-height: $mobile_header_height;
        background-size: auto, auto;
        background-position: center, center;
    }

    box-shadow: 0 0 2rem darken($dark_transparent_primary, 30%);
    
    position: relative;
    z-index: 2;

    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    padding-top: 1rem;
}

footer {

    background: linear-gradient(to bottom, darken(saturate(rgba($primary, 0.6), 20%),14%), 
                                           darken(saturate(rgba($primary, 0.35), 10%),7%)),
                url('../images/symphony.png');
    background-repeat: no-repeat, repeat;
    background-position-y: top, center;
    background-attachment: scroll, fixed;

    pointer-events: auto;

    display: flex; 
    flex-direction: column-reverse;

    ul {
        list-style-type: disc;
    }
    ul li {
        display: inline;
        margin-right: 0.75rem;
    }

    @include media-breakpoint-down(md) {
        // min-height: $mobile_footer_height;
        // bottom: $mobile_footer_height;
        ul li {
            display: block;
        }
    }

    width: 100%;

    overflow: hidden;
    z-index: -1;
    padding-top: 2rem;
}

p img {
    // max-width: 20%;
    border-radius: 5px;
    margin: 0.5rem 1.5rem;

    &.float-right,
    &.float-left {
        // on tiny display actually ignore float
        float: none;
        margin: 2.2rem 10%;
        width: 80%;

        @include media-breakpoint-up(md) {
            margin: 1rem 0.5rem;
            max-width: 25%;
            max-height: 80%;
        }
    }

    &.float-left {
        @include media-breakpoint-up(md) {
            float: left;
        }
    }

    &.float-right {
        @include media-breakpoint-up(md) {
            float: right;
        }
    }
}